:root {
  --bodyBgColor: rgb(38,42,45);
  --bgColor: #1b1f23;
  --fontColor: rgb(232, 230, 227);
  --subFontColor: rgb(232, 230, 227);
  --dateColor: #AEC2D3;
  --borderColor: #2B2F33;
  --articleTitle: rgb(174, 194, 211);
  --articleText: rgb(206, 202, 195);
  --codeBg: rgb(28, 30, 31);
  --aBg: rgb(174, 194, 211);
  --mainThemeColor: #55bd66;
  --searchBg: rgba(27, 31, 35, 0.9);
  --btnText: #FFF;
  --bgImg: url("/images/night_6f715611.gif")
}
