:root {
  --bodyBgColor: rgb(239, 239, 239);
  --bgColor: #FFF;
  --fontColor: #333;
  --subFontColor: #777;
  --dateColor: #2C3E50;
  --borderColor: rgb(220, 223, 230);
  --articleTitle: #555;
  --articleText: #24292E;
  --codeBg: #f8f8f8;
  --aBg: #666;
  --mainThemeColor: #55bd66;
  --searchBg: rgba(255, 255, 255, 0.9);
  --btnText: #FFF;
  --bgImg: rgb(239, 239, 239)
}
